---
layout: basepage
title: MopperWhite
include: 
        -post_item.html
---
<h1>博客开张</h2>
<div class="in-frame">
        <p>先用来做笔记试试好了。</p>
</div>
<span/>
<h1>全部文章</h2>
{% for post in site.posts %}
        <div class="post-item">
                <div class="in-frame">
                        <a href="{{ post.url }}"><p class="post-item-title">{{ post.title }}</p></a>
                        <p>
                                <div class="post-item-details">
                                        <div class="">
                                        {{ post.date }}
                                        TAGS:|
                                        {% for tag in post.tags %}
                                                <a class="post-item-tag-link" href="">{{ tag }}</a>
                                                |
                                        {% endfor %}
                                        </div>
                                </div>
                        </p>
                        <div>
                                {{ include.page.excerpt }}
                        </div>
                </div>
        </div>
        <div class="empty-block"></div>
{% endfor %}
