---
---
<html>
<head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="description" content="Mopperwhite.github.io : ">
        <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}/stylesheets/stylesheets.css">
        <title>MopperWhite的博客</title>
</head>

<body>
    
        <!-- HEADER -->
        <div id="header" class="outer">
                <h1 id="blog-title" class="outer blog-title"><a href="{{ site.url }}" class="blog-title">MopperWhite</a></h1>
        </div>

        <!-- MAIN CONTENT -->
        <div class="content-background">
                <div class="content content-out">
                        <div class="content in-frame">
                                {{ content }}
                        </div>
                </div>
        </div>
        <!-- FOOTER  -->
        <div id="footer" class="outer">
        <footer>
        <p style="color:#FFFFFF">Powered by <a style="color:#FFFFFF;font-size:30px" href="http://pages.github.com"><img src="{{ site.url }}/images/blacktocat.png">GitHub Pages</img></a></p>
        </footer>
        </div>
        <div class="disque_comment_space">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'mopperwhitesbloggithubpages'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
        <div class="empty-block"></div>
</body>
</html>
