---
---
<html>
<head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="description" content="Mopperwhite.github.io : ">
        <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ site.url }}/stylesheets/stylesheets.css">
        <title>MopperWhite的博客</title>
</head>

<body>

        <!-- HEADER -->
        <div id="header" class="outer">
                <h1 id="blog-title" class="outer">MopperWhite</h1>
        </div>

        <!-- MAIN CONTENT -->
        <div class="content-background">
                <div class="content content-out">
                        <div class="content content-in">
                                {{ content }}
                        </div>
                </div>
        </div>
        <!-- FOOTER  -->
        <div id="footer" class="outer">
        <footer>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
        </footer>
        </div>
</body>
</html>
